.text-uppercase {
  text-transform: uppercase;
}

.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 30px;
}

.font-bold {
  font-weight: bold;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.list-style {
  list-style: none;
}

.text-left {
  text-align: left;
 margin: 0;
}

.btn{
  &:hover{
    opacity: 0.7;
  }
}